@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

:root {
  --background: #;
  --background-hover: #;
  --text: #;
  --blue-color: #;
  --blue-color-hover: #;
  --red-color: #;
  --red-color-hover: #;
  --green-color: #;
  --green-color-hover: #;
  --green-2-color: #;
  --yellow-color: #;
  --input-background: #;
  --button-text: #;
  --tr-line: #;
  --text-muted: #;
}

body {
  background-color: var(--background);
  overflow-x: hidden !important;
}

/*
Navbar
*/

nav {
  background-color: var(--background);
}

.nav-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-weight: 300;
}

.nav-link:hover {
  background-color: var(--background-hover);
  border-radius: 2px;
  color: var(--background);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

/*
Text
*/

.custom-heading-1 {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-size: 50px;
  font-weight: 700;
}

.custom-text {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-weight: 300;
}

/*
Buttons
*/

.custom-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--blue-color-hover);
}

.custom-btn-blue:hover {
  background-color: var(--blue-color-hover);
  color: var(--blue-color);
}

.custom-btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--red-color-hover);
}

.custom-btn-red:hover {
  background-color: var(--red-color-hover);
  color: var(--red-color);
}

#btnCreationDate {
  cursor: pointer;
}

.custom-btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--green-color-hover);
}

.custom-btn-green:hover {
  background-color: var(--green-color-hover);
  color: var(--green-color);
}

.btn-check,
.btn-outline-success {
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  font-family: 'Inter', sans-serif;
  border-radius: 2px !important;
}

.btn-secondary {
  font-family: 'Inter', sans-serif;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-primary {
  font-family: 'Inter', sans-serif;
  padding: 10px 25px 10px 25px;
  background-color: var(--blue-color);
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-table {
  background-color: transparent;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  border-radius: 24px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-table:hover {
  color: var(--background);
  background-color: var(--blue-color);
}

.btn-table-2 {
  background-color: transparent;
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 24px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-table-2:hover {
  color: var(--background);
  background-color: var(--red-color);
}

.btn-table-3 {
  background-color: transparent;
  color: var(--green-2-color);
  border: 1px solid var(--green-2-color);
  border-radius: 24px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-table-3:hover {
  color: var(--background);
  background-color: var(--green-2-color);
}
/*
Index settings
*/

.wave-position {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#start-div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

#btnChangeMode-index {
  position: absolute;
  right: 0;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px;
  background-color: transparent;
  color: var(--text);
  border: 0px !important;
  z-index: 3;
  transition: all 0.2s;
  border-radius: 2px;
}

#btnChangeMode-index:hover {
  background-color: var(--background-hover);
  color: var(--background);
}

/*
Responsive
*/

@media (max-width: 576px) {
  .responsive-container {
    padding: 30px;
  }

  .nav-link > span {
    display: none;
  }

  .responsive-width {
    width: 100% !important;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 704px) {
  .custom-heading-1 {
    font-size: 34px;
    padding: 0px 20px 0px 20px;
  }

  .btn-table {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 768px) {
  #results-container {
    margin-top: 20px;
  }

  #calculator-container {
    height: auto !important;
  }
}

@media (max-width: 1200px) {
  .responsive-container {
    height: auto !important;
    padding: 30px;
  }
}

.responsive-container {
  height: 85vh;
}

/*
Form Controls
*/

.form-label {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-weight: 300;
}

.form-control {
  background-color: var(--input-background);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.form-control:focus {
  background-color: var(--input-background);
  border: 0;
  border-radius: 2px;
  color: var(--text);
}

.form-control:read-only {
  background-color: var(--input-background);
  border: 0;
  padding: 8px;
  border-radius: 2px;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.form-select {
  background-color: var(--input-background);
  border: 0;
  padding: 9px !important;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  border-radius: 2px;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.form-select:focus {
  color: var(--text) !important;
  border: 0 !important;
}

.input-group-text {
  background-color: var(--input-background);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

/*
Table things
*/

#table-div {
  background-color: var(--input-background);
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

th[scope='col'] {
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

tr {
  border-bottom: 1px solid var(--tr-line) !important;
}

td {
  color: var(--text);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-top: 100px !important;
}

.pending-status {
  color: var(--yellow-color) !important;
  border: 1px solid var(--yellow-color);
  border-radius: 24px;
  font-weight: 500;
  background-color: transparent;
  transition: all 0.2s;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.pending-status:hover {
  background-color: var(--yellow-color);
  color: var(--background) !important;
}

.done-status {
  color: var(--green-2-color) !important;
  border: 1px solid var(--green-2-color);
  border-radius: 24px;
  font-weight: 500;
  background-color: transparent;
  transition: all 0.2s;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.done-status:hover {
  background-color: var(--green-2-color) !important;
  color: var(--background) !important;
}

/*
Validations
*/

.error {
  font-family: 'Inter', sans-serif;
  color: red;
  font-weight: 300;
}

/*
Sweet alert
*/

.swal2-popup {
  background-color: var(--background) !important;
  border-radius: 24px !important;
  color: var(--text);
  font-family: 'Inter', sans-serif !important;
  text-align: center;
}

.swal2-title {
  color: var(--text) !important;
}
/*
MODAL SETTINGS
*/

.modal-header,
.modal-dialog,
.modal-body,
.modal-footer {
  background-color: var(--background) !important;
  border: 0 !important;
}

.modal-dialog {
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  border: 0 !important;
}

.btn-close {
  color: var(--text) !important;
}

.modal-title {
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

/*
  Calculator 
*/

#results-container {
  background-color: var(--input-background);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

#calculator-container {
  height: 90vh;
}

.heading-result {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-size: 20px;
}

.heading-amount {
  font-family: 'Inter', sans-serif;
  color: var(--green-2-color);
  font-size: 20px;
}
